ActionBar {
  background-color: #1f4037;
}

.page-wrapper {
  background: linear-gradient(to bottom, #1f4037 0%, #99f2c8 100%);
}

.plugin-bar {
  selected-background-color: #fff;
  color: #fff;
  font-size: 13;
}

Button.btn-primary {
  background-color: #fff;
  color: #1f4037;
}

Button.btn-outline {
  color: #fff;
  border-color: #fff;
  background-color: rgba(255, 255, 255, 210);
}

TextField, TextView, .number-input {
  margin: 10;
  padding: 5;
  border-color: #fff;
  border-width: 1px;
  placeholder-color: rgba(255, 255, 255, 140);
}

GridLayout {
  padding: 10;
}

Switch {
  horizontal-align: right;
}

Label {
  color: #fff;
  margin: 10 0;
}

Label.title {
  font-weight: 600;
  text-align: center;
  margin: 0 0 20 0;
}

Label.disabled {
  opacity: 0.6;
}

.checkbox {
  font-size: 22;
  color: #fff;
  vertical-align: center;
  margin-right: 8;
}
