<ActionBar title="" flat="true">
  <ActionItem ios.position="left" (tap)="toggleTheMenu()" *ngIf="isIOS">
    <Label class="mdi-actionitem mdi-menu" [text]="'mdi-hamburger' | fonticon"></Label>
  </ActionItem>
  <Label horizontalAlignment="left" class="mdi-actionitem mdi-menu" [text]="'mdi-hamburger' | fonticon" (tap)="toggleTheMenu()" *ngIf="!isIOS"></Label>
  <Label horizontalAlignment="left" class="semibold" text="Hi!  👋🏻" *ngIf="isIOS"></Label>
  <ActionItem ios.position="right" (tap)="showPluginInfo()">
    <Label class="mdi-actionitem mdi-actionitem-right mdi-menu" [text]="'mdi-information-outline' | fonticon"></Label>
  </ActionItem>
</ActionBar>

<StackLayout class="main-content">
  <Gradient height="100%" direction="to bottom" colors="#009c9b, #006a69" class="p-20">
    <!-- On Android this currently doesn't render correctly -->
    <StackLayout class="transparent-area" height="100%" verticalAlignment="center" *ngIf="isIOS">
      <Label [@state]="'in'" text="Thanks for installing this app," textWrap="true"></Label>
      <Label [@state]="'in'" text="we currently showcase no less than" textWrap="true"></Label>
      <Label [@plugincountstate]="'in'" text="33" class="plugin-count m-t-30 m-b-30"></Label>
      <StackLayout [@fade-in]="'in'">
        <Label text="NativeScript plugins!" class="bold" textWrap="true"></Label>
        <Label text="..of over 750!" textWrap="true"></Label>
      </StackLayout>
    </StackLayout>

    <StackLayout class="transparent-area" height="100%" verticalAlignment="center" *ngIf="!isIOS">
      <Label text="Thanks for installing this app," textWrap="true"></Label>
      <Label text="we currently showcase no less than" textWrap="true"></Label>
      <Label text="28" class="plugin-count m-t-30 m-b-30"></Label>
      <StackLayout>
        <Label text="NativeScript plugins!" class="bold" textWrap="true"></Label>
        <Label text="..of over 750!" textWrap="true"></Label>
      </StackLayout>
    </StackLayout>
  </Gradient>
</StackLayout>
