<RadSideDrawer showOverNavigation="true" [drawerContentSize]="isTablet ? 320 : 260" transition="PushTransition">
  <Gradient tkDrawerContent class="menu-contents-wrapper" direction="to bottom right" colors="#2da7fb, #227ebe">
    <GridLayout class="sideStackLayout" rows="auto, auto, auto, auto, auto, auto, *">
      <StackLayout row="0" class="sideTitleStackLayout">
        <Label text=" "></Label>
      </StackLayout>

      <GridLayout row="1" rows="auto, auto" columns="50, *" class="sideOptions menu-top-border" [nsRouterLink]="['/menu/feedback']" nsRouterLinkActive="active" [nsRouterLinkActiveOptions]="{exact:true}">
        <Label class="mdi" [text]="'mdi-message-text' | fonticon"></Label>
        <Label col="1" class="item-title" text="Feedback"></Label>
        <Label row="1" col="1" class="plugin-names" text="Fancy Alert, Feedback, Snackbar, Local Notifications, Toast" textWrap="true"></Label>
      </GridLayout>

      <GridLayout row="2" rows="auto, auto" columns="50, *" class="sideOptions menu-top-border" [nsRouterLink]="['/menu/mapping']" nsRouterLinkActive="active" [nsRouterLinkActiveOptions]="{exact:true}">
        <!-- Ooooh the irony! This is the Material Design GOOGLE Maps icon.. linking to a Mapbox demo :P -->
        <Label class="mdi" [text]="'mdi-google-maps' | fonticon"></Label>
        <Label col="1" class="item-title" text="Mapping"></Label>
        <Label row="1" col="1" class="plugin-names" text="Directions, Mapbox, FAB" textWrap="true"></Label>
      </GridLayout>

      <GridLayout row="3" rows="auto, auto" columns="50, *" class="sideOptions menu-top-border" [nsRouterLink]="['/menu/speech']" nsRouterLinkActive="active" [nsRouterLinkActiveOptions]="{exact:true}">
        <Label class="mdi" [text]="'mdi-text-to-speech' | fonticon"></Label>
        <Label col="1" class="item-title" text="Speech"></Label>
        <Label row="1" col="1" class="plugin-names" text="Speech Recognition, Camera, Email, Social Share, TextToSpeech, Calendar" textWrap="true"></Label>
      </GridLayout>

      <GridLayout row="4" rows="auto, auto" columns="50, *" class="sideOptions menu-top-border menu-bottom-border" [nsRouterLink]="['/menu/input']" nsRouterLinkActive="active" [nsRouterLinkActiveOptions]="{exact:true}">
        <Label class="mdi" [text]="'mdi-keyboard' | fonticon"></Label>
        <Label col="1" class="item-title" text="Input"></Label>
        <Label row="1" col="1" class="plugin-names" text="IQKeyboardManager, Checkbox, DrawingPad, Numeric Keyboard" textWrap="true"></Label>
      </GridLayout>

      <GridLayout row="5" rows="auto, auto" columns="50, *" class="sideOptions menu-top-border menu-bottom-border" [nsRouterLink]="['/menu/appicon']" nsRouterLinkActive="active" [nsRouterLinkActiveOptions]="{exact:true}" *ngIf="isIOS">
        <Label class="mdi" [text]="'mdi-security-home' | fonticon"></Label>
        <Label col="1" class="item-title" text="App icon"></Label>
        <Label row="1" col="1" class="plugin-names" text="3D Touch, App Icon Changer" textWrap="true"></Label>
      </GridLayout>

      <StackLayout row="6" class="sideOptions madeby-container" verticalAlignment="bottom" (tap)="openTwitter()">
        <Label class="mdi madeby-text" [text]="'Made with ' + ('mdi-heart-outline' | fonticon) + ' by @eddyverbruggen'"></Label>
      </StackLayout>
    </GridLayout>
  </Gradient>
  <StackLayout tkMainContent>
    <router-outlet></router-outlet>
  </StackLayout>
</RadSideDrawer>