<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Plugins</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5.0</string>
	<key>CFBundleVersion</key>
	<string>2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
  <key>LSApplicationQueriesSchemes</key>
  <array>
    <string>twitter</string>
    <string>comgooglemaps</string>
  </array>
  <key>UIViewControllerBasedStatusBarAppearance</key>
  <false/>
  <key>ITSAppUsesNonExemptEncryption</key>
  <false/>
  <key>NSCameraUsageDescription</key>
  <string>To augment reality.</string>
  <key>NSCalendarsUsageDescription</key>
  <string>Please grant access to your calendar.</string>
  <key>NSPhotoLibraryUsageDescription</key>
  <string>Please grant access to your photo library.</string>
  <key>NSSpeechRecognitionUsageDescription</key>
  <string>This is required for this little demo.</string>
  <key>NSMicrophoneUsageDescription</key>
  <string>Without being able to use the mic we can't hear you, so please accept this as well.</string>
  <key>UIApplicationShortcutItems</key>
  <array>
    <dict>
      <key>UIApplicationShortcutItemIconType</key>
      <string>UIApplicationShortcutIconTypeMessage</string>
      <key>UIApplicationShortcutItemTitle</key>
      <string>Feedback</string>
      <key>UIApplicationShortcutItemSubtitle</key>
      <string>Deeplink to feedback</string>
      <key>UIApplicationShortcutItemType</key>
      <string>feedback</string>
    </dict>
    <dict>
      <key>UIApplicationShortcutItemIconType</key>
      <string>UIApplicationShortcutIconTypeHome</string>
      <key>UIApplicationShortcutItemTitle</key>
      <string>App icon</string>
      <key>UIApplicationShortcutItemSubtitle</key>
      <string>Deeplink to App icon</string>
      <key>UIApplicationShortcutItemType</key>
      <string>appicon</string>
    </dict>
  </array>

  <!-- For running Firebase on the Simulator -->
  <key>com.apple.keystore.access-keychain-keys</key>
  <true/>
  <key>com.apple.keystore.device</key>
  <true/>

  <!-- for logging in with Google (as part of the Firebase plugin) -->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>REVERSED_CLIENT_ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.884257917279-tqa19tams3a3o49sa3ekd546ph1qgh8d</string>
			</array>
		</dict>
	</array>

  <!-- This bit is for the App Icon Changer plugin -->
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>icon-red</key>
			<dict>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-red-60</string>
					<string>icon-red-72</string>
					<string>icon-red-76</string>
				</array>
			</dict>
			<key>icon-blue</key>
			<dict>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-blue-60</string>
					<string>icon-blue-72</string>
					<string>icon-blue-76</string>
				</array>
			</dict>
			<key>icon-green</key>
			<dict>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-green-60</string>
					<string>icon-green-72</string>
					<string>icon-green-76</string>
				</array>
			</dict>
			<key>icon-yellow</key>
			<dict>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>CFBundleIconFiles</key>
				<array>
				  <!-- this shows you don't NEED to supply all resolutions; Apple will scale down for you when needed -->
					<string>icon-yellow-152</string>
				</array>
			</dict>
			<key>icon-purple</key>
			<dict>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-purple-60</string>
					<string>icon-purple-72</string>
					<string>icon-purple-76</string>
				</array>
			</dict>
		</dict>
  </dict>

  <!-- For iPad we're simply specifying 1 resolution, to show that that works as well (just use a large one, iOS will scale it down) -->
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>icon-red</key>
			<dict>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-red-76</string>
				</array>
			</dict>
			<key>icon-blue</key>
			<dict>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-blue-76</string>
				</array>
			</dict>
			<key>icon-green</key>
			<dict>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-green-76</string>
				</array>
			</dict>
			<key>icon-yellow</key>
			<dict>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-yellow-152</string>
				</array>
			</dict>
			<key>icon-purple</key>
			<dict>
				<key>UIPrerenderedIcon</key>
				<true/>
				<key>CFBundleIconFiles</key>
				<array>
					<string>icon-purple-76</string>
				</array>
			</dict>
		</dict>
  </dict>
</dict>
</plist>
