Page {
  background-color: #fff;
}

Page, Label, Button, TextField {
  font-size: 20;
}

ActionBar .mdi-actionitem {
  font-size: 28;
}

ActionBar Label, ActionBar Button {
  font-size: 19;
}

.section-title {
  font-size: 22;
}

.section-subtitle {
  font-size: 16;
}
