/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import "~nativescript-theme-core/css/core.light.css";
@import url("./platform.css");

Page {
  background-color: #009c9b;
  color: #fff;
  font-size: 15;
  font-family: 'Source Sans Pro', SourceSansPro-Regular, system, sans-serif;
}

Label {
  font-family: 'Source Sans Pro', SourceSansPro-Regular, system, sans-serif;
}

ActionBar {
  font-size: 15;
  font-family: 'Source Sans Pro', SourceSansPro-Regular, system, sans-serif;
}

.semibold {
  font-weight: 600;
  font-family: 'Source Sans Pro', SourceSansPro-Semibold, system, sans-serif;
}

.bold {
  font-weight: 700;
  font-family: 'Source Sans Pro', SourceSansPro-Bold, system, sans-serif;
}

.section-title {
  font-size: 17;
  font-weight: 600;
}

.section-subtitle {
  font-size: 13;
  opacity: 0.8;
}

.transparent-area {
  background-color: rgba(255, 255, 255, 210);
  border-radius: 20;
  padding: 20;
}

.hide {
  opacity: 0;
}

ActionBar {
  background-color: #282b32;
  color: #fff;
}

NumericKeyboard {
  font-size: 50;
}

TextField {
  padding: 10;
}

.menu-contents-wrapper {
  height: 100%;
}

.mdi {
  font-family: 'Material Design Icons', materialdesignicons-webfont;
}

.mdi-actionitem {
  font-family: 'Material Design Icons', materialdesignicons-webfont;
  font-size: 24;
  padding: 8;
}

.mdi-actionitem.mdi-menu {
  padding-left: 0;
  margin-right: 0;
}

.inactive {
  opacity: 0.35;
}

ActivityIndicator {
  color: #fff;
}

.right {
  text-align: right;
}

ActionBar Button {
  color: #fff;
}

ActionBar Label, ActionBar Button {
  font-size: 17;
}

Button.button {
  color: #fff;
  font-size: 16;
}

Button:highlighted {
  opacity: 0.7;
}

.sideStackLayout {
  color: #fff;
}

.sideTitleStackLayout {
  padding: 30 10 14 10;
  text-align: center;
  height: 64;
}

.sideOptions {}

.sideOptions Label.item-title {
  font-size: 16;
  padding: 12 10 4 10;
}

.sideOptions Label.plugin-names {
  font-size: 12;
  opacity: 0.8;
  padding-left: 10;
  padding-right: 8;
  padding-bottom: 12;
}

.sideOptions Label.mdi {
  padding-top: 12;
  padding-left: 20;
  padding-right: 0;
  font-size: 22;
}

.sideOptions.active {
  background-color: rgba(0, 0, 0, 0.15);
}

.menu-top-border {
  border-top-width: 1px;
  border-top-color: rgba(255, 255, 255, 0.4);
}

.menu-bottom-border {
  border-bottom-width: 1px;
  border-bottom-color: rgba(255, 255, 255, 0.4);
}

.madeby-container {
  background-color: #DC1B4F;
}

.madeby-container Label {
  padding-top: 12;
}

.madeby-container Label.madeby-text {
  font-size: 14;
  padding-top: 14;
  padding-left: 14;
}
