<ActionBar title="" flat="true">
  <ActionItem ios.position="left" (tap)="toggleTheMenu()" *ngIf="isIOS">
    <Label class="mdi-actionitem mdi-menu" [text]="'mdi-hamburger' | fonticon"></Label>
  </ActionItem>
  <Label horizontalAlignment="left" class="mdi-actionitem mdi-menu" [text]="'mdi-hamburger' | fonticon" (tap)="toggleTheMenu()" *ngIf="!isIOS"></Label>
  <Label horizontalAlignment="center" class="semibold" text="Speech" *ngIf="isIOS"></Label>
  <ActionItem ios.position="right" (tap)="showPluginInfo()">
    <Label class="mdi-actionitem mdi-actionitem-right m-r-0" [text]="'mdi-information-outline' | fonticon"></Label>
  </ActionItem>
</ActionBar>

<StackLayout class="page-wrapper p-20">
  <GridLayout rows="*, 132" columns="*">

    <StackLayout [@scale-in]="'in'" row="0" class="transparent-area">
      <GridLayout rows="*, auto, auto" columns="*">
        <Label [text]="('mdi-format-quote-open' | fonticon) + recognizedText + ('mdi-format-quote-close' | fonticon)" textWrap="true" class="mdi recognizedText p-b-20" [visibility]="recognizedText === undefined ? 'collapse': 'visible'"></Label>
        <Button [@fade-in-2]="'in'" row="1" text="show tips" class="button" horizontalAlignment="center" (tap)="showingTips = true" [visibility]="recording || showingTips ? 'collapse': 'visible'"></Button>
        <StackLayout row="1" class="tips" *ngIf="showingTips">
          <Label class="mdi p-b-20" textWrap="true" [text]="('mdi-format-quote-open' | fonticon) + 'Share a selfie' + ('mdi-format-quote-close' | fonticon)" (tap)="shareSelfie()"></Label>
          <Label class="mdi p-b-20" textWrap="true" [text]="('mdi-format-quote-open' | fonticon) + 'What\'s my schedule today?' + ('mdi-format-quote-close' | fonticon)" (tap)="findTodaysEvents()"></Label>
          <Label class="mdi p-b-20" textWrap="true" [text]="('mdi-format-quote-open' | fonticon) + 'Kilimanjaro rises like Olympus' + ('mdi-format-quote-close' | fonticon)" (tap)="playTotoAfrica()"></Label>
          <Label class="mdi p-b-20" textWrap="true" [text]="('mdi-format-quote-open' | fonticon) + 'Compose an email with subject...\nand message...' + ('mdi-format-quote-close' | fonticon)" style="text-align: center" (tap)="composeAnEmail('Space race', 'Bring marshmallows!')"></Label>
        </StackLayout>
        <GridLayout [@fade-in-1]="'in'" row="2" rows="auto, auto" columns="auto, *" horizontalalignment="center" width="240" class="m-t-24">
          <Label text="Rate" class="m-r-20"></Label>
          <Slider debounce debounceDelay="300" debounceFromEvent="valueChange" (debounceFunction)="onSpeakRateChange($event)" backgroundColor="rgba(239,1,124,1)" col="1" [value]="speakRate" [maxValue]="maxSpeakRate" minValue="1"></Slider>
          <Label row="1" text="Pitch" class="m-r-20 m-t-10"></Label>
          <Slider debounce debounceDelay="300" debounceFromEvent="valueChange" (debounceFunction)="onPitchChange($event)" backgroundColor="rgba(239,1,124,1)" row="1" col="1" [value]="pitch" maxValue="200" minValue="1" class="m-t-10"></Slider>
        </GridLayout>
      </GridLayout>
    </StackLayout>

    <StackLayout [@from-bottom]="'in'" row="1" horizontalAlignment="center" class="m-t-20" (tap)="toggleRecording()">
      <Label class="mdi record-mic" [class.recording]="recording" [text]="'mdi-microphone-outline' | fonticon" [isEnabled]="!microphoneEnabled"></Label>
      <Label class="record-hint" text="tap and talk" *ngIf="!recording"></Label>
      <Label class="record-hint" text="tap again to stop" *ngIf="recording"></Label>
    </StackLayout>
  </GridLayout>
</StackLayout>
