<ActionBar title="" flat="true">
  <ActionItem ios.position="left" (tap)="toggleTheMenu()" *ngIf="isIOS">
    <Label class="mdi-actionitem mdi-menu" [text]="'mdi-hamburger' | fonticon"></Label>
  </ActionItem>
  <Label horizontalAlignment="left" class="mdi-actionitem mdi-menu" [text]="'mdi-hamburger' | fonticon" (tap)="toggleTheMenu()" *ngIf="!isIOS"></Label>
  <Label horizontalAlignment="center" class="semibold" text="Feedback" *ngIf="isIOS"></Label>
  <ActionItem ios.position="right" (tap)="showPluginInfo()">
    <Label class="mdi-actionitem mdi-actionitem-right" [text]="'mdi-information-outline' | fonticon"></Label>
  </ActionItem>
</ActionBar>

<Gradient height="100%" direction="to bottom" colors="mediumseagreen, #267B50" class="main-content">
  <ScrollView>
    <StackLayout class="p-20" [@listAnimation]>
      <!-- added *ngIf="true" for the listAnimation to work -->
      <Label class="section-title" text="Feedback" *ngIf="true"></Label>
      <WrapLayout *ngIf="true">
        <Button text="Success, 2.5s" (tap)="feedbackHelper.showSuccess()" class="button button-success"></Button>
        <Button text="Success, alt colors" (tap)="feedbackHelper.showSuccessAltColors()" class="button button-custom"></Button>
        <Button text="Info, 2s" (tap)="feedbackHelper.showInfo()" class="button button-info"></Button>
        <Button text="Warning, 4s" (tap)="feedbackHelper.showWarning()" class="button button-warning"></Button>
        <Button text="Error, 1s" (tap)="feedbackHelper.showError()" class="button button-error"></Button>
        <Button text="Error, Bottom (iOS)" (tap)="feedbackHelper.showErrorBottom()" class="button button-error"></Button>
        <Button text="Title only" (tap)="feedbackHelper.showTitleOnly()" class="button button-custom"></Button>
        <Button text="Custom icon" (tap)="feedbackHelper.showCustomIcon()" class="button button-custom-alt"></Button>
        <Button text="Dismiss" (tap)="feedbackHelper.dismiss()" class="button button-dismiss"></Button>
      </WrapLayout>

      <Label class="section-title" text="Toast" *ngIf="true"></Label>
      <WrapLayout *ngIf="true">
        <Button text="Short" (tap)="toastHelper.showShort()" class="button button-custom"></Button>
        <Button text="Long" (tap)="toastHelper.showLong()" class="button button-error"></Button>
      </WrapLayout>

      <Label class="section-title" text="FancyAlert" *ngIf="true"></Label>
      <WrapLayout *ngIf="true">
        <Button text="Success" (tap)="fancyAlertHelper.showSuccess()" class="button button-success"></Button>
        <Button text="Info" (tap)="fancyAlertHelper.showInfo()" class="button button-info"></Button>
        <Button text="Notice" (tap)="fancyAlertHelper.showNotice()" class="button button-info"></Button>
        <Button text="Warning" (tap)="fancyAlertHelper.showWarning()" class="button button-warning"></Button>
        <Button text="Error" (tap)="fancyAlertHelper.showError()" class="button button-error"></Button>
        <ios>
          <Button text="Waiting" (tap)="fancyAlertHelper.showWaiting()" class="button button-custom-alt"></Button>
          <Button text="Text" (tap)="fancyAlertHelper.showTextField()" class="button button-custom"></Button>
          <Button text="Switch" (tap)="fancyAlertHelper.showSwitch()" class="button button-custom"></Button>
        </ios>
      </WrapLayout>

      <Label class="section-title" text="CFAlert Dialog" *ngIf="true"></Label>
      <WrapLayout *ngIf="true">
        <Button text="Alert" (tap)="cfalertDialogHelper.showAlert(false)" class="button button-error"></Button>
        <ios>
          <Button text="Alert (blurry)" (tap)="cfalertDialogHelper.showAlert(true)" class="button button-error"></Button>
        </ios>
        <Button text="Notification" (tap)="cfalertDialogHelper.showNotification()" class="button button-success"></Button>
        <Button text="Bottom sheet" (tap)="cfalertDialogHelper.showBottomSheet()" class="button button-custom"></Button>
        <android>
          <Button text="Simple list" (tap)="cfalertDialogHelper.showSimpleList()" class="button button-custom-alt"></Button>
          <Button text="Single choice list" (tap)="cfalertDialogHelper.showSingleChoiceList()" class="button button-custom-alt"></Button>
        </android>
      </WrapLayout>

      <Label class="section-title" text="Snackbar" *ngIf="true"></Label>
      <WrapLayout *ngIf="true">
        <Button text="Message" (tap)="snackbarHelper.showMessage()" class="button button-success"></Button>
        <Button text="Action" (tap)="snackbarHelper.showAction()" class="button button-warning"></Button>
        <Button text="Dismiss" (tap)="snackbarHelper.dismiss()" class="button button-dismiss"></Button>
      </WrapLayout>

      <Label class="section-title" text="Local Notifications" *ngIf="true"></Label>
      <Label class="section-subtitle" text="Tap a button, close the app, and wait 5 seconds.." textWrap="true" *ngIf="true"></Label>
      <WrapLayout *ngIf="true">
        <Button text="Badge & Sound" (tap)="localNotificationsHelper.showWithSound()" class="button button-success"></Button>
        <Button text="Every minute" (tap)="localNotificationsHelper.continuous()" class="button button-warning"></Button>
        <Button text="Cancel" (tap)="localNotificationsHelper.cancelAll()" class="button button-dismiss"></Button>
      </WrapLayout>
    </StackLayout>
  </ScrollView>
</Gradient>
