/* Only include the stuff we need as this is a very large file otherwise.. */

/* Need this to make the others work.. */
.mdi-dummy:before {
  content: ""
}

.mdi-format-quote-close:before {
  content: "\F27E"
}

.mdi-format-quote-open:before {
  content: "\F756"
}

.mdi-hamburger:before {
  content: "\F684"
}

.mdi-google-maps:before {
  content: "\F5F5"
}

.mdi-heart-outline:before {
  content: "\F2D5"
}

.mdi-information-outline:before {
  content: "\F2FD"
}

.mdi-keyboard:before {
  content: "\F30C"
}

.mdi-message-text:before {
  content: "\F369"
}

.mdi-microphone-outline:before {
  content: "\F36E"
}

.mdi-open-in-new:before {
  content: "\F3CC"
}

.mdi-printer-3d:before {
  content: "\F42B"
}

.mdi-security-home:before {
  content: "\F689"
}

.mdi-fire:before {
  content: "\F238"
}

.mdi-text-to-speech:before {
  content: "\F50A"
}
