<ActionBar title="Mapping" flat="true">
  <ActionItem ios.position="left" (tap)="toggleTheMenu()">
    <Label class="mdi-actionitem mdi-menu" [text]="'mdi-hamburger' | fonticon"></Label>
  </ActionItem>
  <Label horizontalAlignment="center" class="semibold" text="Mapping" *ngIf="isIOS"></Label>
  <ActionItem ios.position="right" (tap)="showPluginInfo()">
    <Label class="mdi-actionitem mdi-actionitem-right mdi-menu" [text]="'mdi-information-outline' | fonticon"></Label>
  </ActionItem>
</ActionBar>

<GridLayout class="main-content">
  <Gradient height="100%" direction="to bottom" colors="#444, #000" class="p-20">
    <ContentView [@flyInOut]="'in'" height="100%" width="100%" borderRadius="25">
      <Mapbox
          accessToken="sk.eyJ1IjoiZWRkeXZlcmJydWdnZW4iLCJhIjoia1JpRW82NCJ9.OgnvpsKzB3GJhzyofQNUBw"
          mapStyle="traffic_day"
          latitude="51.9280572"
          longitude="4.4201952"
          hideCompass="true"
          zoomLevel="7"
          showUserLocation="true"
          disableZoom="false"
          disableRotation="false"
          disableScroll="false"
          disableTilt="false"
          (mapReady)="onMapReady($event)">
      </Mapbox>
    </ContentView>
  </Gradient>
  <FAB
      (tap)="fabTapped()"
      icon="res://ic_add_white"
      rippleColor="#f1f1f1"
      class="fab">
  </FAB>
</GridLayout>