ActionBar {
  background-color: #009c9b;
}

.modal-wrapper {
  background-color: #fff;
  color: #444;
  margin-top: 30;
}

.description {
  font-size: 13;
  font-weight: 600;
  color: #fff;
  margin: 20 10 5 10;
  padding-bottom: 15;
  border-bottom-width: 1px;
  border-bottom-color: #eee;
}

.plugin-name {
  color: #00fffe;
  font-weight: 600;
}

.plugin-url {
  font-size: 18;
}

.plugin-id {
  color: #00d9d8;
  font-size: 13;
}

.plugin-description {
  font-size: 13;
}

Button {
  font-family: 'Source Sans Pro', SourceSansPro-Regular, system, sans-serif;
}
