.modal-wrapper {
  background-color: #fff;
  color: #444;
}

.description {
  font-size: 13;
  font-weight: 600;
  color: #888;
  margin: 15 10 5 10;
  padding-bottom: 15;
  border-bottom-width: 1px;
  border-bottom-color: #888;
}

.plugin-name {
  color: #5abbf9;
  font-weight: 600;
}

.plugin-url {
  font-size: 18;
}

.plugin-id {
  color: #888;
  font-size: 13;
  margin-bottom: 4;
}

.plugin-description {
  font-size: 13;
}

Button {
  font-family: 'Source Sans Pro', SourceSansPro-Regular, system, sans-serif;
}
